:root {
    --colorPrimario: #d1282b;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.navbar, 
#formularioBusqueda {
    background-color: var(--colorPrimario);
}

#formularioBusqueda{
    padding: 0.8rem;
}

.navbar-header a, .nav a {
    color: white;
}


.card{
    margin: 1rem 0;
}
.icono{
  font-size:1.2rem;
  margin-right:0.1rem;
}

#Buscar{
    color:white;
    margin-right: 1rem;
}

#formularioBusqueda{
    margin-top:3rem;
}

.btn-buscar{
    color: white;
    border: 1px solid white;
    margin-left: 0.3rem;
}
.bg-principal {
    background-color: #d1282b !important;
}