@model BolsaTrabajo.Models.CarrerasViewModel

@using (Html.BeginForm("Modificar","Home", FormMethod.Post))
{
    <div class="container mt-4">
        <div class="row">
            <h3 class="col-md-12">Administrar publicaciones</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo vacante</th>
                        <th scope="col">Modificar | Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                     @using (Html.BeginForm()) {}
                    @foreach (var pub in Model.listPublicaciones)
                    {
                        <tr>
                            @using (Html.BeginForm())
                            {
                                var id = pub.ID;
                                var Vacnate = pub.Vacante;

                                @Html.HiddenFor(m => m.IdPublicacion, new { @Value = pub.ID })
                                <td> @id</td>
                                <td>@Vacnate</td>
                                <td>
                                    <button name="comand" value="Modificar" class="btn ml-1" type="submit"><i class="far fa-edit"></i></button>
                                    |
                                    <button name="comand" value="Eliminar" class="btn mr-1 btn-danger" id="btnEliminar" type="submit" ><i class="far fa-trash-alt"></i></button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>
}

