
@{ 
    ViewBag.Title = "Home Page";
}

@model BolsaTrabajo.Models.CarrerasViewModel


@foreach (var pub in Model.listPublicacionesDetallada)
{
    var vacante = pub.Vacante;
    var Empresa = pub.Empresa;
    var Descripcion = pub.Descripcion;
    var carreras = pub.Carreras;

    <div class="card">
        @using (Html.BeginForm())
        {
        <div class="card-body">
            @Html.HiddenFor(m => m.IdPublicacion, new { @Value = pub.ID })
            <h5 class="card-title">@vacante</h5>
            <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-building icono"></i> @Empresa</h6>
            <p class="card-text">
                @Descripcion
            </p>
            <span class="navbar-text">Carreras: </span>
            <a href="#" class="card-link">@carreras</a>
        </div>
        <div class="card-footer text-left">
            <input type="submit" value="Leer mas.." class="btn" />
        </div>

        }
    </div>
}

@if (!Model.Tipo.Equals("Empleado"))
{
    <script src="~/Scripts/EliminarOpcines.js"></script>
}