@model BolsaTrabajo.Models.PublicacionViewModel
@{ var ModeloTemp = new BolsaTrabajo.Models.CarrerasViewModel(); }

@using (Html.BeginForm())
{
    <div class="container mt-4">
        <div class="row">
            <h2 class="col-md-12 row">Modificar vacante</h2>
            <div class="form-group col-md-12">
                <label>Titulo de vacante:</label>
                @Html.TextBoxFor(m => m.Vacante, new { @class = "form-control" })

            </div>
            <div class="form-group col-md-12">
                <label>Descripción:</label>
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control col-md-8" })

            </div>
            <div class="form-group col-md-12">
                <label>Requisitos:</label>
                @Html.TextAreaFor(m => m.Requisitos, new { @class = "form-control col-md-8" })

            </div>
            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Modificar" />
                </div>
            </div>
        </div>

    </div>
}