<div class="container mt-4">
    <div class="row">
        <h2 class="col-md-12 row">Registrar publicación</h2>
        <div class="form-group col-md-12">
            <label>Titulo de vacante:</label>
            <input type="type" name="name" value="" class="form-control"/>
            
        </div>
    </div>

</div>